/*  your css code here. If applicable */
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
.card-container{
	background-color: #f5f5f5;
	margin: auto;
	margin-block-start: 30px;
	box-shadow: 0 5px 12px 6px rgba(0,0,0,0.1);
	padding: 25px;
	width: 270px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.image{
	margin-block-start: 5px;
}
.card-details{
	text-align: center;
	margin-block: 10px;
}
.buy-button{
	padding: 15px;
	color: white;
	background-color: tomato;
	border:none;
	border-radius: 10px;
	font-size: 20px;
}
